<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% include ./partials/_header %>
<table>
  <tbody>
      <% for(let shorturl in url) { %>
    <tr>
      <th align="center">Long URL</th>
      <th align="center">Short URL</th>
    </tr>
      <tr> 
        <td><%= url[shorturl].long %> : <a href="/u/<%= shorturl %>"><%= shorturl %></a></td>
        <td>
          <form method="POST" action="/urls/<%=shorturl %>/delete">
         <label for=“long”> <a href="/urls/<%=shorturl %>"><button> Edit</button> </a> <button> DELETE </button> </label>
        </form>
        </td>
        </tr>
        <% } %> 
      </tr>
  </tbody>
</table>
        <a href="/urls/new"><button> New </button></a>
<footer> <% include ./partials/_footer %> </footer>
</body>
</html>
